<main class="Background" *ngIf='ShowLoading'>
  <div class="loader">
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__ball"></div>
  </div>    
</main>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #SideMenu class="sidenav" fixedInViewport
  
        [mode]="'side'"
        [opened]="ToggleVariable">
      <mat-toolbar style="background: white;">
        <img src="assets/img/azureLogo.png" width="90%" alt="assets.logo.svg">
      </mat-toolbar>
      <ul class="unselectable" style="height: 70%;">
        <li routerLink="m2" [routerLinkActive] = '["ActiveRoute"]' *ngIf="empRoleId == '1'" >
          <img src="assets/img/admin.png" alt="Admin Icon" style="width : 20px;border-radius: 10px"> 
          Employee
        </li>
        <li routerLink="map-view" [routerLinkActive] = '["ActiveRoute"]' *ngIf="empRoleId == '1'">
          <img src="assets/img/maps.png" alt="Excel Icon" style="width : 20px;border-radius: 10px"> 
          Map
        </li>
        <li [routerLink]="[menu.routerLink]" [routerLinkActive] = '["ActiveRoute"]' *ngFor="let menu of menuList"> 
            <img [src]="[menu.icon]" alt="icon" style="width : 20px;border-radius: 10px"> 
            {{menu.menuName}}
        </li>
        <!-- <li routerLink="m11" [routerLinkActive] = '["ActiveRoute"]' *ngIf="empRoleId == '1'"> 
          <img src="assets/img/excel.jpg" alt="Excel Icon" style="width : 20px;border-radius: 10px"> 
            Report
        </li> -->
      </ul>
      <ul>
        <li>
          <button mat-button (click)='Logout()' class="logout-btn">
          {{empName}} || Logout 
          <mat-icon>exit_to_app</mat-icon>
          </button>
        </li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="background: white;min-height: 96%;margin: 10px;border: 1px solid #efe1e1;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  